.bg-second{
    background-color: #F6EC80;
    color:black;
}

.bg-second-variation{
    background-color: #CEC34B;
    color:black;
}

.bg-third{
    background-color: #F6C480;
    color:#311C12;
}



body{
    background-image: url('/ressources/purpleBg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media(min-width:576px){
    .fixed-sm-bottom{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

button {
    all: unset;
    cursor: pointer;
}

