.bg-green-paletton{
    background-color: #5F736C;
}

.bg-purple-paletton{
    background-color: #181725;
    color:#666577;
}

.bg-brown-paletton{
    background-color: #7B6A62;
    color:#311C12;
}

.bg-brown2-paletton{
    background-color: #7B7562;
    color:#312912;
}
body{
    background-image: url('/ressources/purpleBg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}